*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #364156;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background-color: #061B3D;
}
::-webkit-scrollbar {
  width: 8px;
  background: #364156;
}
::-webkit-scrollbar-thumb {
  background: #EFA00B;
  
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 0 140px ;
  align-items: center;
  height: 100px;
  width: 100vw;
  z-index: 5;
  color: white;

}
.logo img{
 height: 80px;
}


.perfil{
  display: flex;
  gap: 3rem;
 
  
}




.menu ul li{
  list-style: none;
  font-size: 1.5em;
  cursor: pointer;
 
}

.menu a{
  color: white;
}

.menu ul li:hover{
  color: #4F101A;
}


.mainContainer {
  
  height: calc(100vh - 100px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  
}



.descricao{
  margin-top: 100px;
  min-height: 36vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.9em;
  color: white;
}

.descText{
  padding: 140px ;
}

.descricao img{
  position: absolute;
  z-index: -1;
  width: 100vw;
  min-height: 120vh;
  object-fit: cover;
  opacity: 0.5;

}

.tituloF{
 font-size: 3em;
}

.filmeDesc{
font-size: 1.2em;
}

.infoPage{
  background-color: #E83151;
  width: 150px;
  height: 40px;
  border-radius: 13px;
  border: none;
  font-size: 1.2em;
  color: white;
  margin: 20px 0;
}

.infoPage:hover{
  background-color: white;
  color: #E83151;
}

.selecao{
  max-width: 100vw;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.filmeClicado .filme {
  height: 37vh;
 
}


.selecao img{
  height: 30vh;
}


.filme{
  cursor: pointer;
}



.perfilContainer{
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
 
}


.foto{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 15px;
  background-image: url(img/perfil.png);
  background-size: cover;
}

.cinemaNome{
width: 20vw;
height: 75vh;
background-color: white;
z-index: -1;
border-right:60px solid  #364156;;
display: flex;
  align-items: center;
  justify-content: center;
}

.cinemaNome h2{
rotate: -90deg;
font-size: 6em;
}

.dados{
  display: flex;
  flex-direction: column;
  border-top: 100px  solid  #364156;;
  border-bottom: 100px  solid  #364156;;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 60vw;
  height: 100vh;
  background-color: #e6e5e5;
 
}

.logOutBotton{
  height: 40px;
  width: 130px;
  background-color: #5e5d5d;
  border: none;
  border-radius: 5%;
  font-size: 1.1em;
  color: white;
}

.logOutBotton:hover{
  background-color: #3f3d3d;
  
  color: white;
}


.codigo{
  width: 20vw;
  height: 75vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left:60px solid #364156 ;
  
 
}

.codigo img{
  max-width: 80%;
}





.dados button{
  cursor: pointer;
}
.dados button:hover{
  background-color: #EFA00B;
  color: #ffffff;
}



.loginBtn{
  height: 50px;
  width: 300px;
  background-color:#4F101A;
  border: none;
  font-size: 1.5em;
  color: #f8f8f8;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
}


.formLogin{
  height:calc(100vh - 100px);
  width: 100vw;
  top: 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

}

.formLogin input{
  height: 50px;
  width: 500px;
  padding-left: 15px;
  border-radius: 10px;
  border: none;
  
}

.formLogin h3{
  color: #ffffff;
  
}


.favContainer{
  width: 100vw;
 
  
 display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
gap: 3em;

 
}

.pesquisa{
  margin-top: 100px;
  height: 60px;
  width: 700px;
  border-radius: 10px;
  border: none;
  padding: 15px;
}

.filmeContainer{
width: 100vw;
top: 100vh;
padding: 20px 0px;



}

.titulo{
  display: flex;
  font-size: 3em;
  text-transform: uppercase;
  justify-content: center;
  color: white;
  
  padding: 20px 0;
  border-bottom: 5px  dashed white;
  border-top: 5px  dashed white;
}

.FilmesCardsContainer{
padding:50px 140px ;
 display: flex;
 flex-wrap: wrap;
 justify-content: left;
 align-items: center;
 gap: 3em;
  
}

.filmeCard{
background-color:#0a1b36;
height: 30em;
width: 15em;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 0.5em;
border-radius: 10px;

}

.filmeCard button{
  margin: 0;
  height: 40px;
  width: 100px;
  font-size: 0.9em;
}

.filmeCard .icon{
font-size: 1.5em;
color:#364156;
}

.iconsCards{
  display: flex;
  align-items: center;
  gap: 1em;
 
}
.iconClick{
  font-size: 1.5em;
  color: #e6e5e5;
}


.filmeCard img{
  width: 90%; 
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
  }

.filmeCard h3{
  font-size: 1em;
  color: #EFA00B;
  text-transform: uppercase;
  text-align: center;
  }

  .filmeCard h4{
  font-size: 1.2em;
  color: white;
 }


.resultContainer{
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
}      




.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0a1b36; 
  height: 40px;
  border-radius: 25px;
  width: 400px;
  animation: slideIn 0.5s ease-in-out; 
  
}

.search-container input{
  height: 20px;
  width: 100%;
  border-radius: 25px 0 0 25px;
  border: none;
  padding: 20px;
  outline: none;
 
}

.search-icon {
  padding: 10px;
  color: #ffffff; 
  cursor: pointer;
  font-size: 1em;
}

@keyframes slideIn {
  from {
    transform: scaleX(0.4); 
    transform-origin: right center;
  }
  to {
    transform: scaleX(1); 
    transform-origin: right center; 
  }
}

.no-results{
 height: calc(100vh - 100px);
 display: flex;
 align-items: center;
 justify-content: center;
 align-items: center;
}
.infoContainer{
  min-height: calc(100vh - 100px);
  
}
.infoCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
 padding: 10px 100px;
 margin: 0 auto ;
 min-height: calc(100vh - 200px);
 width: 80%;
 background-color:#FFF0DB;
 border: dashed 25px #0A1B36;
}

.infoContainer img{
height: 20em;

}

.info{
  display: flex;
  align-items: center;
  gap: 5em;
  margin-bottom: 3%;
}

.details{
  font-size: 2em;
  color: #0A1B36;
}
.desc{
  font-size: 1.1em;
  line-height: 2rem;
}

.footerContainer{
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0A1B36;
  color: #e6e5e5;
  border-top: 20px dashed;
  flex-wrap: wrap;
}

.footerContainer .titulo{
  font-size: 1em;
}
.footerContainer ul li{
list-style: none;
line-height: 1.8em;
}
.footerContainer ul li a{
  color: white;
  text-decoration: none;
  }

.footerContainer img{
  height: 25vh;
}

.FooterAbout {
  width: 30%;
  padding: 50px;
}

.FooterAbout a:hover{
  color: #EFA00B;
}

.copyRight{
  height: 60px;
  width: 100vw;
  flex-basis: 100%;
  background-color: #364156;
  border-top: dashed 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background:#364156;
  padding: 0px 150px ;
  border-radius: 8px;
  width: 70%;
  height: 70%;
  overflow: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3em;
  line-height: 1.6em;
}

.popup-content button{
  background-color: #E83151;
  min-height: 50px;
  border: none;
  color: white;
}
.popup-content p {
  margin: 20px 0;
  text-indent: 20px;
  
}

.popup-content h3 {
  margin-top: 40px;
  color: #EFA00B;
  font-size: 2em;
}


.popup-content button:hover{
  background-color:white;
  height: 50px;
  border: none;
  color:#E83151;
}
