*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #364156;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background-color: #061B3D;
}
::-webkit-scrollbar {
  width: 8px;
  background: #364156;
}
::-webkit-scrollbar-thumb {
  background: #EFA00B;
  
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 0 140px ;
  align-items: center;
  height: 100px;
  width: 100vw;
  z-index: 5;
  color: #EBEBEB;

}
.logo img{
 height: 80px;
}


.perfil{
  display: flex;
  gap: 3rem;
 
  
}




.menu ul li{
  list-style: none;
  font-size: 1.5em;
  cursor: pointer;
 
}

.menu a{
  color: #EBEBEB;
}

.menu ul li:hover{
  color: #4F101A;
}


.mainContainer {
  background: linear-gradient(to top, #0A1B36, #364156);
  height: calc(100vh - 100px);
  width: 100vw;
  display: flex;
  flex-direction: column;
}



.descricao{
  margin-top: 100px;
  min-height: 36vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.9em;
  color: #EBEBEB;
  
}

.descText{
  padding: 140px ;
}

.tituloF{
 font-size: 3em;
}

.filmeDesc{
font-size: 1.2em;
}

.infoPage{
  background-color: #E83151;
  width: 150px;
  height: 40px;
  border-radius: 13px;
  border: none;
  font-size: 1.2em;
  color: #EBEBEB;
  margin: 20px 0;
}

.infoPage:hover{
  background-color: #EBEBEB;
  color: #E83151;
}

.selecao{
  max-width: 100vw;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.filmeClicado .filme {
  height: 37vh;
 
}


.selecao img{
  height: 30vh;
}


.filme{
  cursor: pointer;
}



.perfilContainer{
  background: linear-gradient(to top, #0A1B36, #364156);
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
 
}


.foto{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  background-image: url(img/perfil.png);
  background-size: cover;
}

.cinemaNome{
width: 25vh;
height: 75vh;
background-color: #EBEBEB;
display: flex;
align-items: center;
justify-content: center;
}

.cinemaNome h2{
rotate: -90deg;
font-size: 5rem;
}

.dados{
  display: flex;
  flex-direction: column;
  height: 75vh;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 50vw;
  background-color: #EBEBEB;
 
}

.logOutBotton{
  height: 40px;
  width: 40%;
  background-color: #5e5d5d;
  border: none;
  border-radius: 10px;
  font-size: 1.1em;
  color: #EBEBEB;
}

.logOutBotton:hover{
  background-color: #3f3d3d;
  
  color: #EBEBEB;
}


.codigo{
  width: 25vh;
  height: 75vh;
  background-color: #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: center;
 
  
 
}

.codigo img{
  height: 90%;
  width: 70%;
  object-fit: cover;
}



.dados p{
text-align: center;
}


.dados .loginBtn:hover{
  background-color: #EFA00B;
  color: #ffffff;
}


.loginBtn{
  height: 50px;
  cursor: pointer;
  width: 250px;
  background-color:#4F101A;
  border: none;
  font-size: 1.5em;
  color: #f8f8f8;
  letter-spacing: 1px;
  border-radius: 10px;
  
}


.formLogin{
  height:calc(100vh - 100px);
  width: 100vw;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

}

.formLogin input{
  height: 50px;
  width: 500px;
  padding-left: 15px;
  border-radius: 10px;
  border: none;
  
}

.formLogin h3{
  color: #ffffff;
  
}


.favContainer{
  width: 100vw;
  min-height: calc(100vh - 100px);
  background: linear-gradient(to top, #0A1B36, #364156);
 display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
gap: 3em;

 
}

.pesquisa{
  margin-top: 100px;
  height: 60px;
  width: 700px;
  border-radius: 10px;
  border: none;
  padding: 15px;
}

.filmeContainer{
width: 100vw;

}

.titulo{
  display: flex;
  font-size: 3em;
  text-transform: uppercase;
  justify-content: center;
  color: #EBEBEB;
  
  padding: 20px 0;
  border-bottom: 5px  dashed #EBEBEB;
  border-top: 5px  dashed #EBEBEB;
}

.FilmesCardsContainer{
padding:50px 140px ;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 3em;
  
}

.filmeCard{
background-color:#0a1b36;
height: 30em;
width: 15em;
min-width: 15em;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 0.5em;
border-radius: 10px;

}

.filmeCard button{
  margin: 0;
  height: 40px;
  width: 100px;
  font-size: 0.9em;
}

.filmeCard .icon{
font-size: 1.5em;
color:#364156;
}

.iconsCards{
  display: flex;
  align-items: center;
  gap: 1em;
 
}
.iconClick{
  font-size: 1.5em;
  color: #e6e5e5;
}


.filmeCard img{
  width: 90%; 
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
  }

.filmeCard h3{
  font-size: 1em;
  color: #EFA00B;
  text-transform: uppercase;
  text-align: center;
  }

  .filmeCard h4{
  font-size: 1.2em;
  color: #EBEBEB;
 }


.resultContainer{
  min-height: calc(100vh - 200px);
  background: linear-gradient(to top, #0A1B36, #364156);
  display: flex;
  justify-content: center;
}      




.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0a1b36; 
  height: 40px;
  border-radius: 25px;
  width: 400px;
  animation: slideIn 0.5s ease-in-out; 
  
}

.search-container input{
  height: 20px;
  width: 100%;
  border-radius: 25px 0 0 25px;
  border: none;
  padding: 20px;
  outline: none;
 
}

.search-icon {
  padding: 10px;
  color: #ffffff; 
  cursor: pointer;
  font-size: 1em;
}

@keyframes slideIn {
  from {
    transform: scaleX(0.4); 
    transform-origin: right center;
  }
  to {
    transform: scaleX(1); 
    transform-origin: right center; 
  }
}

.no-results{
 height: calc(100vh - 100px);
 background: linear-gradient(to top, #0A1B36, #364156);
 display: flex;
 align-items: center;
 justify-content: center;
 align-items: center;
}
.infoContainer{
  min-height: calc(100vh - 100px);
  
}
.infoCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
 padding: 10px 100px;
 margin: 0 auto ;
 min-height: calc(100vh - 200px);
 width: 80%;
 background-color:#FFF0DB;
 border: dashed 25px #0A1B36;
}

.infoContainer img{
height: 20em;

}

.info{
  display: flex;
  align-items: center;
  gap: 5em;
  margin-bottom: 3%;
}
.infoCard{
  padding: 3%;
}
.details{
  font-size: 2em;
  color: #0A1B36;
}
.desc{
  font-size: 1.1em;
  line-height: 2rem;
}

.footerContainer{
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0A1B36;
  color: #e6e5e5;
  border-top: 20px dashed;
  flex-wrap: wrap;
}

.footerContainer .titulo{
  font-size: 1em;
}
.footerContainer ul li{
list-style: none;
line-height: 1.8em;
}
.footerContainer ul li a{
  color: #EBEBEB;
  text-decoration: none;
  }

.footerContainer img{
  height: 250px;
}

.FooterAbout {
  min-width: 30%;
  padding: 50px;
}

.FooterAbout a:hover{
  color: #EFA00B;
}

.copyRight{
  height: 60px;
  width: 100vw;
  flex-basis: 100%;
  background-color: #364156;
  border-top: dashed 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background:#364156;
  padding: 0px 8% ;
  border-radius: 8px;
  width: 70%;
  height: 70%;
  overflow: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3em;
  line-height: 1.6em;
}

.popup-content button{
  background-color: #E83151;
  min-height: 50px;
  border: none;
  color: #EBEBEB;
}
.popup-content p {
  margin: 20px 0;
  text-indent: 20px;
  
}

.popup-content h3 {
  margin-top: 40px;
  color: #EFA00B;
  font-size: 2em;
}


.popup-content button:hover{
  background-color:#EBEBEB;
  height: 50px;
  border: none;
  color:#E83151;
}

.moreMovies{
  color: #e6e5e5;
  width: 100vw;
  height: 40px;
  background-color: transparent;
  border: none;
  box-shadow: 0px 4px 39px 0px #0A1B36;
  margin-bottom: 50px;
}

.moreMovies:hover{
  box-shadow: 0px 4px 39px 0px #e6e5e5;
}


@media screen and (max-width: 950px) {
  .footerContainer img{
    height: 150px;
  }
  .info{
    gap: 1em;
  }
  .details {
      font-size: 1.3em;
      margin: 0;
  }
  .info img{
    height: 200px;
  }
  .popup-content{
    padding: 10px;
  }
  
}


@media screen and (max-width: 800px) {
  .footerContainer img{
    display: none;
  }

  .footerContainer{
    justify-content: center;
    text-align: center;
    
  }
  .cinemaNome,.codigo{
  width: 15vw;
 }
  .one{
    display: none;
  }
  .selecao img{
    height: 20vh;
  }
  .selecao img:hover{
    height: 25vh;
  }
  .cinemaNome h2{
    font-size: 3em;
    }
    .loginBtn{
      font-size: 1em;
      width: 140px;
    }
    .search-container {
      
      width: 200px;
      
    }
}


@media screen and (max-width: 610px) {
 .menu{
  padding: 5%;
 }

 .descText{
  padding: 10% ;
  height: 50vh;
 }
 .selecao{
  bottom: 0;
 }
 .descricao{
  margin-top: 30px;
  height: 55vh;
 }
 .perfilContainer{
  display: flex;
  flex-direction: column;
  gap: 3em;
 
}

.cinemaNome{
  min-width: 85vw;
  height: 20vh;
  border-right: none;

  }
  
  .cinemaNome h2{
  rotate: 0deg;
  max-width: 90%;
  max-height: 90%;
  
  }

  .dados{
    padding: 10px;
    height: 50vh;
    width: 85vw;
    gap: 1em;
    border: 15px  dashed #0a1b36;
   
  }

  .codigo{
    min-width: 85vw;
    height: 20vh;
    border-left:none ;
    margin-bottom: 30px;
    
  }
  .codigo::before {
    content: "CineSala"; 
    font-size: 3em;
    font-weight: bold;
  }
  

  
  .codigo img{
   display: none;
   
  }


 .foto{
  height: 100px;
  width: 100px;
 }
 .dados h1{
  font-size: 1.5em;
 }

  .FilmesCardsContainer{
    padding:50px 60px ;

    }

.formLogin input{
  width: 80%;
  
}

.details {
  font-size: 1em;
}
.info img{
height: 140px;
}
.infoCard{
 border: dashed 15px #0A1B36;
 min-width: 280px;
}
.search-container {
  width: 210px;
  
}
.perfil{
  gap: 1em;
}

.popup-content .titulo{
  margin-top: 700px;
}
.popup-content .adress{
  margin-top: 0px;
}
.titulo{
  font-size: 2em;
}



}



